body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", sans-serif;

    background-color: #f4f7f9;
}


a {
    text-decoration: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 940px;
    margin: 0 auto;

}


.bg-dark {
    background-color: #293449;
    min-height: 42px;
}

.header-logo a {
    display: block;
    padding: 9px 55px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}
.header-logo a:hover {
    background-color: #ca2c37;
}


.header-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


.user-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;  
}

.header-form {
    margin-right: auto;
}

.header-form input {
    width: 270px;
    padding: 12px 40px;

    border: none;

    background-color: #293449;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 15px 50%;

}

.header-form input:hover {
    background-color: #212a3a;
}
.header-form input:focus {
    background-color: #ffffff;
}






.user-menu-list {
   display: flex;
   align-items: center;
}


.user-menu-list a {
    display: block;
    position: relative;
    flex-grow: 1;
    padding: 11px 30px;
    color: #ffffff;

    font-size: 17px;
    line-height: 18px;

    background-color: #293449;
    
}

.user-menu-list .icon-book {
    padding-left: 38px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.user-menu-list .icon-cart {
    padding-left: 47px;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 15px 50%;
}




.user-menu-list a:hover,
.user-menu-list a:focus {
    background-color: #212a3a;
    
}

.user-menu-list .bg-green {
    padding: 11px 21px;
    background-color: #63a63e;
}
.user-menu-list .bg-green:hover {
    background-color: #5fbb2d;
}
.user-menu.bg-green:focus {
    background-color: #518534;
}



.header-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
    padding-bottom: 21px;
}


.contact-title a {
    display: block;
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    margin-left: 55px;
    margin-right: 45px;

    color: #ee3643;
}


.contact-phone {
    padding: 8px 45px;
    padding-left: 70px;
    
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #ee3643;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border: 2px solid #ffffff;
    text-align: center;
}

.contact-addres {
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;

    color: #32425c;
}

.user-init {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.user-init li {
    margin-left: 10px;
}

.user-init .login-in {
    padding-left: 40px;
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 13px 50%;
}
.user-init a {
    display: inline-block;
    padding: 11px 25px;
    font-size: 21px;
    line-height: 1;

    color: #000000;

    background-color: #ffffff;
}
.user-init a:hover {
    color: #ee3643;
}
.user-init a:active {
    color: rgba(0, 0, 0, 0.3);
}


.main-navigation-wrapper {
    margin-bottom: 60px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    width: 940px;
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;

    list-style: none;
}

.navigation-list li {
    flex-grow: 1;
}


.navigation-list a {
    display: block;
    padding: 20px 33px;
    font-size: 17px;
    line-height: 17px;
    

    background-color: #32425c;
    color: #ffffff;

    
}
.navigation-list a:hover {
    background-color: #293449;
}
.navigation-list a:active {
    background-color: #1d2739;
}



/*header*/
/*main*/
.index-main {
    background-color: #ffffff;
}
/*promo*/

.promo {
    padding-top: 62px;
}

 .row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}
.row-2 {
    display: flex;
    justify-content: space-between;
}


.promo-item {
    width: 255px;
    padding: 20px 22px;
    margin-bottom: 20px;
}

.promo-item h3 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    margin: 0;
    margin-bottom: 13px;

    color: #ffffff;

    
}

.promo-link a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 30px;
    

    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.1);

    border-radius: 3px;
    text-transform: uppercase;
}

.materials {
    background-color: #ffbf47;
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 213px 51%;
}

.tool {
    background-color: #3bbce3;
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 190px 51%;
}

.equipment {
    background-color: #dc91d8;
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 190px 50%;
}

.sale {
    background-color: #8ed78f;
    background-image: url(../img/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 196px 58%;
}

.delivery {
    background-color: #ffc047;
    background-image: url(../img/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 191px 60%;
}
    




/*promo*/
/*slider*/


.column-1 {
    width: 620px;
}


.slider img {
    width: 100%;
    
}

.slider-1 {
    position: relative;
    
    width: 100%;
    min-height: 266px;
    margin: 0;
}

.slider-2 {
    position: relative;

    display: none;     
    width: 100%;
    min-height: 266px;
    margin: 0;
    margin-top: 10px;
}

.slider-title  {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
}

.slider-title strong {
    text-transform: uppercase;
}
.slider-title p {
    
    font-size: 18px;
    line-height: 0;
    text-transform: none;
}


.slider .button-red {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
/*slider*/
/*popular-item*/

.title-popular {
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #f9f5f0;
}

.title-popular h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.title-popular a {

    font-size: 14px;
    line-height: 18px;
    padding: 10px 60px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    text-transform: uppercase;
}

.catalog-items {
    display: flex;

    width: 700px;

  }

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    
    border: 1px solid #ccc;
  }

  .catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
  }
  
  .catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
  }


  .catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
  }

  .catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
  }

  .catalog-item .actions {
    display: none;
  }
  
  .catalog-item:hover .actions {
    display: block;
  }
  
  .catalog-item .image {
    width: 218px;
    height: 168px;
  }
  
  .catalog-item .image img {
    max-width: 100%;
  }

  .catalog-item .title {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;    
  }
  
  .catalog-item .discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    
    color: #999;
    text-decoration: line-through;
  }

  .catalog-item .price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    
    color: white;
    background: #ee3643;
    border-radius: 3px;
  }

  .catalog-item .price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
  }
/*popular-item*/
/*брэнды*/

.brands {
    margin-bottom: 40px;
}

.title-brands {
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #f9f5f0;
}

.title-brands h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.title-brands a {

    font-size: 14px;
    line-height: 18px;
    padding: 10px 60px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    text-transform: uppercase;
}



.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    

}

.brands-list-item a {
    display: inline-block;
    width: 220px;
    min-height: 145px;
    margin-right: 13px;
    margin-bottom: 13px;
    border: 1px solid #eaeaea;
}
.brands-list-item a:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.brands-list-item a:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands-list .bosch {
    background-color: #ffffff;
    background-image: url(../img/bosch.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.brands-list .makita {
    background-color: #ffffff;
    background-image: url(../img/Makita.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.brands-list .dewalt {
    background-color: #ffffff;
    background-image: url(../img/DeWALT.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.brands-list .interskol {
    background-color: #ffffff;
    background-image: url(../img/Интерскол.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.brands-list .hitachi {
    background-color: #ffffff;
    background-image: url(../img/Hitachi.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.brands-list .lg {
    background-color: #ffffff;
    background-image: url(../img/LG.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.brands-list .aeg {
    background-color: #ffffff;
    background-image: url(../img/AEG.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.brands-list .metabo {
    background-color: #ffffff;
    background-image: url(../img/Metabo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*брэнды*/
/*сервисы*/

.main-service {
    margin-bottom: 40px;
    background-color: #f4f7f9;
}

.header-service h2 {
    padding-top: 60px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.header-service p {
    font-family: "PTSans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 430px;
}

/*сервисы*/

/*Доставка и адрес на крте*/

.delivery-addres-map {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 60px;
}

.title-delivery h2 {
    font-size: 30px;
    line-height: 30px;

    color: #000000;
}

.title-delivery p {
    font-family: "PTSans" sans-serif;
    font-size: 13px;
    line-height: 24px;
}





.addres-map-section h2 {
    font-size: 30px;
    line-height: 30px;

    color: #000000;
}

.addres-map-section p {
    font-family: "PTSans" sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 20px;
}

/*main*/

/*footer*/

.main-footer {
    background-color: #32425c;
}

ul {
    list-style: none;
}

.column {
    display: flex;
    justify-content: space-between;
}
.column p {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-logo a {
    display: block;
    padding: 15px 30px;

    background-color: #ee3643;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
}
.footer-nav a {
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}
.footer-nav a:hover {
    text-decoration: underline;
}
.footer-nav a:active {
    text-decoration: none;
    opacity: 0.5;
}


.footer-promo {
    display: flex;
    flex-wrap: wrap;
}
.footer-promo a {
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}
.footer-promo a:hover {
    text-decoration: underline;
}
.footer-promo a:active {
    text-decoration: none;
    opacity: 0.5;
}


/*футер-3*/
/*.footer-3 {
    background-color: #293449;
}*/

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;


    background-color: #293449;
}

.copyright p {
    width: 228px;
    font-size: 16px;
    list-style: 18px;
    color: #ffffff;

    margin: 20px auto;

    white-space: pre-wrap;
}


.social ul {
    display: flex;
    
    list-style: none;
}

.social-list a{
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 2px;
    border-radius: 50%;

    background-color: #212a3a;

}


.social-list .social-vk a {
    background:  #212a3a url(../img/vk-icon.svg) no-repeat center;
}
.social-list .social-fb a {
    background:  #212a3a url(../img/fb-icon.svg) no-repeat center;
}
.social-list .social-insta a {
    background:  #212a3a url(../img/insta-icon.svg) no-repeat center;
}
.social-list a:hover {
    background-color: #ee3643;
}


.footer p {
    
    color: #ffffff;
}
.footer a {
    display: block;
    color: #ffd180;
}
/*футер-3*/

/*footer*/







/*button-red*/
.button-red a {
    display: inline-block;

    font-size: 14px;
    line-height: 18px;
    padding: 10px 60px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    text-transform: uppercase;
}
/*button-red*/


/*modal*/
.modal {
    display: none;
}
/*modal*/